<ion-card >
  <img alt="Silhouette of mountains" src="https://as1.ftcdn.net/v2/jpg/03/53/11/00/1000_F_353110097_nbpmfn9iHlxef4EDIhXB1tdTD0lcWhG9.jpg" />
  <ion-card-header >
    <ion-card-title>{{ user.nombre }} {{ user.apellido | slice:0:1}}</ion-card-title>
    <ion-card-subtitle>{{ user.nombre }} , {{ user.apellido }}</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    Edad: {{ user.edad }} años
  </ion-card-content>

  <ion-button class="fav-button" fill="clear" aria-label="Favorite"
	 (click)="onFavClick($event)">
       <ion-icon *ngIf="user.fav" slot="icon-only"  color="danger" name="heart"
		 aria-hidden="true"></ion-icon>
       <ion-icon *ngIf="!user.fav" slot="icon-only"  color="medium" name="heart-outline"
aria-hidden="true"></ion-icon>
</ion-button>

</ion-card>
