<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!--<a [routerLink]="['/welcome']" [queryParams]="{debug: true}" fragment="education">-->
  <app-user-info *ngFor="let user of users$ | async" [user]="user" (onFavClicked)="onFavClicked(user, $event)">
    
  </app-user-info>

  <!--</a>-->
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content>
